<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/suit.css">
    <title>Challange c-4 by Ikhwanul Hidayat</title>
</head>
<body>
    <header class="header">
        <a href="/"><img src="/assets/assets-2/arrow.png" alt=""></a>
        <img src="/assets/assets-2/logo.png" alt="">
        <h1>ROCK PAPER SCISSORS</h1>
</header>
<div class="main-game">
    <div class="player" >
        <h3>PLAYER 1</h3>
        <div class="content" id="player-1" class=""><img src="/assets/assets-2/batu.png" alt="" onclick="suit.playerMemilih('1')"></div>
        <div class="content" id="player-2" class=""><img src="/assets/assets-2/kertas.png" alt="" onclick="suit.playerMemilih('2')"></div>
        <div class="content" id="player-3" class=""><img src="/assets/assets-2/gunting.png" alt="" onclick="suit.playerMemilih('3')"></div>
    </div>
    <div id="versus"><h4>VS</h4></div>
    <div class="computer">
        <h3>COM</h3>
        <div class="content" id="com-1" class=""><img src="/assets/assets-2/batu.png" alt=""></div>
        <div class="content" id="com-2" class=""><img src="/assets/assets-2/kertas.png" alt=""></div>
        <div class="content" id="com-3" class=""><img src="/assets/assets-2/gunting.png" alt=""></div>
    </div>
</div>
<script src="/js/suit.js"></script>
</body>
</html>
